.create-account , .login-account{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
}

form{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20em;
    padding: 30px;

    border-radius: 10px;
    background-color: #FFE6C7;
    border: 1px solid #FF6000;
}

.create-account h2, .login-account h2{
    color: #FF6000;
}

.create-account p, .login-account p{
    color: #000;
}

label{
    padding: 20px;
    padding: 10px;
    font-weight: bolder;
    color: #FF6000;
}

input{
    border: none;
    border-radius: 5px;
    height: 20px;

    margin-left: 10px;
    font-weight: bold ;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.form-btn{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;

    font-weight: bolder;
    border: 1px solid #FF6000;
    background-color: #FF6000;
    color: #ffff;

    transition: 0.5s;
    height: 2.5em;
    width: 8em;
    border-radius: 10px;
}

.form-btn:hover{
    transition: 0.5s;
    background-color: #FFE6C7;
    border: 1px solid #FF6000;
    color: #FF6000;
}

.create-account a , .login-account a{
    text-decoration: none;
    color: #FF6000;
}


.control-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}