
.card-produtos{
    width: 60%;
    border-radius: 13px;
    font-weight: bolder;
    display: flex;
    margin-bottom: 20px;
}

.section1-card{
    width: 10em;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    border-radius:  13px 0px 0px 13px;
    text-align: center;

    background-color: #4b4646;
    color: aliceblue;
    margin-top: 20px;
}

.nome , .marca{
    font-size: small;
    display: flex;
    justify-content: start;
    padding-left: 8px;
}

.section2-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 0 13px 13px 0px;
    width: 100%;

    margin-top: 20px;

}

.informations{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin-bottom: 10px;
}

.control-icons{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 10px;
    margin-bottom: 10px;
}

#add-btn, #delete-btn, #cancel-btn, #check-btn{

    margin-left: 10px;
    border: none;
    background-color: #ccc;
    color: #000;
    font-size: 18px;
    text-align: center;

    width: 2.5em;
    height: 2.5em;
    border-radius: 10px;
}

#add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 6px;
}

#add-btn:hover, #cancel-btn:hover, #delete-btn:hover, #check-btn:hover{
    transition: 0.5s;
    background-color: #4b4646;
    color: #fff;
    cursor: pointer;
}

span{
    margin: 10px 10px 10px 20px;
}

#header-add-products{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px ;
}

#header-add-products input{
    height: 3.2em;
    width: 50em;
    border-radius: 10px;
    background-color: #ccc;
    border: none;
    color: #000;
}

.control-btns{
    width: 10em;
    display: flex;
    justify-content: space-between;
}

.content{
    margin: 0 auto;
    height: 30em;

}

.content #products{
    height: 18em;
    display: flex;
    flex-direction: column;
}

.content label{
    margin-right: 10px;
}

#No-Data {
    color: #817878;
    font-weight: bolder;
}

#No-Data #icon-no-found{
    font-size: 10em;
    color: #ccc;
}

#No-Data p {
    font-weight: bolder;
}