html, body {
    margin: 0;
    padding: 0;
    
  }
  
  .main {
    display: flex;
    justify-content: space-between;
  }

  .account{
    display: flex;
    justify-content:end;
    align-items: center;
    width: 98%;
    height: 2em;
    font-size: 18px;
    font-weight: bolder;
  }
   .account p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
  }
  
  #side-bar {
    background-color: #4b4646;
    grid-area: A;
    width: 20vw;
    color: #fff;
    font-weight: bolder;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    height: 100%;
  }

  #side-bar a{
    text-decoration: none;
    color: inherit;
  }
  
  #result {
    grid-area: B;
    width: 77.5vw;
    height: 2em;

    display: flex;
    align-items: center;

  }
  #result input {
    margin-left: 1em;
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 10px;

  }
  
  #interface {
    background-color: #fff;
    grid-area: C;
    height: 100%;
    width: 76vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
  }

  .content-side-bar{
    width: 100%;
    height: 3em;
    text-align: center;
    background-color: #4b4646;
    border: none;
    

    color: #fff;
    font-weight: bolder;
    font-family: 'Ubuntu';
    font-size: 20px;
    transition: 0.4s;
  }

  .content-side-bar:hover {
    padding-left: 45px;
    transition: 0.4s;
    background-color: #ccc;
    color: #4b4646;
  }

  #icons{
    text-align: center;
    margin-left: 10px;
    font-size: 24px;
    border: none;
    background-color: #ccc;
    color: #000;

    width: 2.5em;
    height: 80%;
    border-radius: 10px;
  }

  #icons:hover{
    transition: 0.5s;
    background-color: #4b4646;
    color: #fff;
  }
  
