html, body {
    margin: 0;
    padding: 0;
    
  }
  
  .main {

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: 
    'A B'
    'A C';

    height: 99.5vh;
  }
  
  #side-bar {
    background-color: #4b4646;
    grid-area: A;
    width: 20vw;
    color: #fff;
    font-weight: bolder;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  #result {
    background-color: #ccc;
    grid-area: B;
    width: 79.5vw;
    height: 2em;
  }
  #result input {
    margin-left: 1em;
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px;

  }
  
  #interface {
    /*defina a largura que desejar*/
    background-color: #fff;
    grid-area: C;
    height: 93.5vh;
  }
  