<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('cadas_produto')}}" method="POST">

        <label>Produto</label>
        <input type="text" name="produto" required autocomplete="off">
        <label>Quantidade</label>
        <input type="text" name="qtd" required autocomplete="off">
        <label>tipo de vinho</label>
        <input type="text" name="tipo" required autocomplete="off">
        <label>Data de Validade</label>
        <input type="date" name="data"required autocomplete="off">

        <button type="submit">cadastrar</button>

        <table class="table">
            <thead>
                <tr>
                    <th>Produto Nome</th>
                    <th>Quantidade</th>
                    <th>Tipo de Vinho</th>
                    <th>Data de Validade</th>
                </tr>
            </thead>
    
            <tbody>
                {%for cd in consultas%}
                <tr>
                    <td>{{cd.produto}}</td>
                    <td>{{cd.quantidade_entrada}}</td>
                    <td>{{cd.tipo_vinho}}</td>
                    <td>{{cd.data_validade}}</td>
                </tr>
                {%endfor%}
            </tbody>
    
        </table>
</body>
</html>